@font-face {
    font-family  : 'Lato';
    font-style   : normal;
    font-weight  : 100;
    src          : url(../ressources/fonts/Lato/Lato-Thin.ttf);
}

@font-face {
    font-family  : 'Lato';
    font-style   : normal;
    font-weight  : 300;
    src          : url(../ressources/fonts/Lato/Lato-Light.ttf);
}

@font-face {
    font-family  : 'Lato';
    font-style  : normal;
    font-weight  : 400;
    src          : url(../ressources/fonts/Lato/Lato-Regular.ttf);
}

@font-face {
    font-family  : 'Lato';
    font-style  : normal;
    font-weight  : 700;
    src          : url(../ressources/fonts/Lato/Lato-Bold.ttf);
}

@font-face {
    font-family  : 'Lato';
    font-style  : normal;
    font-weight  : 900;
    src          : url(../ressources/fonts/Lato/Lato-Black.ttf);
}


@font-face {
    font-family  : 'Lato';
    font-style   : italic;
    font-weight  : 100;
    src          : url(../ressources/fonts/Lato/Lato-ThinItalic.ttf);
}

@font-face {
    font-family  : 'Lato';
    font-style   : italic;
    font-weight  : 300;
    src          : url(../ressources/fonts/Lato/Lato-LightItalic.ttf);
}

@font-face {
    font-family  : 'Lato';
    font-style  : italic;
    font-weight  : 400;
    src          : url(../ressources/fonts/Lato/Lato-Italic.ttf);
}

@font-face {
    font-family  : 'Lato';
    font-style  : italic;
    font-weight  : 700;
    src          : url(../ressources/fonts/Lato/Lato-BoldItalic.ttf);
}

@font-face {
    font-family  : 'Lato';
    font-style  : italic;
    font-weight  : 900;
    src          : url(../ressources/fonts/Lato/Lato-BlackItalic.ttf);
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 100;
    src: url(../ressources/fonts/Montserrat/Montserrat-Thin.ttf);
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    src: url(../ressources/fonts/Montserrat/Montserrat-Light.ttf);
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url(../ressources/fonts/Montserrat/Montserrat-Regular.ttf);
}

body {
    font-family: 'Lato';
    -webkit-font-smoothing: antialiased;
}

.form-control {
    text-align: center;
    color: #c90044;
    background: none;
    border: none;
    border-bottom: 1px solid #b9b9b9;
    font-weight: 700;
    padding-left: 0;
}

.form-control:focus {
    box-shadow: none;
    box-shadow: none;
    border-bottom: 2px solid #c90044;
}

.form-control:disabled {
    background-color: initial;
    color: #495057!important;
}

.form-control:read-only {
    background-color: initial;
}

.input-group-text {
    color: #c90044;
    background-color: initial;
    border: none;
    border-bottom: 1px solid #b9b9b9;
}

.alert {
    color: white;
    width: 100%;
    border: none;
    font-weight: bold;
}

.alert button.close:focus {
    outline: none;
}

.form-content {
    text-align: center;
    width: 100%;
}

.btn span.fa {
    margin: 0 10px 0 10px;
}

.btn-material {
    background-color: #fff;
    border: none;
    color: #666;
    border-radius: 2px;
    transition: all 0.4s ease-in-out;
    margin-bottom: 5px;
    font-size: 1em;
    border: 1px solid #efefef;
}

.btn-material:active, .btn-material:focus {
    outline: none !important;
    text-decoration: none;
    color: #666;
}

.btn-material:hover {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    text-decoration: none;
    color: #666;
}

button:focus {
    outline: none !important;
}

.modal-content {
    border: none;
    outline: 0;
    box-shadow: 0 3px 6px rgb(0 0 0 / 16%), 0 3px 6px rgb(0 0 0 / 23%);
    border-radius: .3em;
}

.input-group.selector .select2-container {
    width: 100% !important;
    display: block !important;
    overflow-x: hidden;
}

.select2-selection {
    border-radius: 0 !important;
    height: 48px !important;
}

.select2-dropdown, .select2-search input {
    font-size: 1.2em !important;
}

.select2-container--bootstrap .select2-selection--single .select2-selection__rendered {
    color: #c90044;
    font-weight: bold;
}

.select2-container--bootstrap .select2-selection {
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #c90044;
    background-color: initial;
    border: none;
    border-bottom: 1px solid #b9b9b9;
}

.select2-container--bootstrap .select2-dropdown {
    border-color: rgba(0,0,0,.175);
}

.select2-container--bootstrap.select2-container--focus .select2-selection, .select2-container--bootstrap.select2-container--open .select2-selection {
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    border-color: rgba(0,0,0,.175);
}